<a href="https://colab.research.google.com/github/gianlukas/modellazioneSistIng/blob/main/1_1_IntroduzionePython_Basic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduzione a Python

Le basi della programmazione in Python.
Come sempre, non si può non iniziare dal seguente comando 🌞

In [ ]:
print("Hello, world!")

Hello, world!

## Variabili

*Le variabili in Python possono contenere lettere (minuscole o maiuscole), numeri 0-9 e alcuni caratteri speciali come il carattere di sottolineatura. I nomi delle variabili dovrebbero iniziare con una lettera. Attenzione a non utilizzare come nomi delle variabili le parole riservate in Python.*

In [ ]:
# assign some variables
x = 7 # integer assignment of the integer 7
y = 7.0 # floating point assignment of the decimal number 7.0
print("The variable x is",x," and has type", type(x),". \n")
print("The variable y is",y," and has type", type(y),". \n")

The variable x is 7  and has type <class 'int'> .

The variable y is 7.0  and has type <class 'float'> .

In [ ]:
# multiplying by a float will convert an integer to a float
x = 7 # integer assignment of the integer 7
print("Multiplying x by 1.0 gives",1.0*x)
print("The type of this value is", type(1.0*x),". \n")

Multiplying x by 1.0 gives 7.0
The type of this value is <class 'float'> .

Le operazioni matematiche consentite sono:


*   Addition: +
*   Subtraction: -
*   Multiplication: *
*   Division: /
*   Integer Division (modular division): //
*   Exponents: **

In [ ]:
x = 7.0
y = x**2 # square the value in x
print(y)

49.0

### Esercizio
Scriviamo il codice per definire tre numeri interi positivi a, b e c. Quindi calcoliamo a^2, b^2 e c^2. Dopo aver calcolato i tre i valori, controlliamo se tali valori formano una tripla pitagorica, cioè: a^2 + b^2 = c^2.

In [ ]:
# Define positive integers a, b, and c
a = 2
b = 4
c = 5

# Calculate a^2, b^2, and c^2
a_squared = a ** 2
b_squared = b ** 2
c_squared = c ** 2

# Check if the values form a Pythagorean Triple
is_pythagorean_triple = (a_squared + b_squared == c_squared)

# Print the results
print(f"a^2 = {a_squared}, b^2 = {b_squared}, c^2 = {c_squared}")
if is_pythagorean_triple:
    print("The values form a Pythagorean Triple.")
else:
    print("The values do not form a Pythagorean Triple.")

a^2 = 4, b^2 = 16, c^2 = 25
The values do not form a Pythagorean Triple.

## Indici e Liste

Gli elenchi sono un componente chiave per archiviare i dati in Python. Le liste sono elenchi di "cose" (nel nostro caso, queste "cose" sono numeri in virgola mobile).
Attenzione: l'indicizzazione di Python inizia da 0 mentre altri linguaggi di programmazione avere un'indicizzazione che inizia da 1. In altre parole, la prima voce di un elenco ha indice 0, la seconda voce come indice 1 e così via.

Possiamo estrarre una parte di un elenco utilizzando la sintassi **name[start:stop]** che estrae gli elementi tra l'indice *start* e l'indice *stop-1*.

In [ ]:
# Create the list of numbers 0 through 8 and then print only the element with index 0.
MyList = [0,1,2,3,4,5,6,7,8]
print(MyList[0])

0

In [ ]:
# Print all elements up to, but not including, the third element of MyList.
MyList = [0,1,2,3,4,5,6,7,8]
print(MyList[:2])

[0, 1]

In [ ]:
#Print the last element of MyList (this is a handy trick!).
MyList = [0,1,2,3,4,5,6,7,8]
print(MyList[-1])

8

In [ ]:
#Print the elements indexed 1 through 4. Beware! This is not the first through fifth element.
MyList = [0,1,2,3,4,5,6,7,8]
print(MyList[1:5])

#Print every other element in the list starting with the first.
MyList = [0,1,2,3,4,5,6,7,8]
print(MyList[0::2])

#Print the last three elements of MyList
MyList = [0,1,2,3,4,5,6,7,8]
print(MyList[-3:])

[1, 2, 3, 4]
[0, 2, 4, 6, 8]
[6, 7, 8]

In [ ]:
# range is a handy command for creating a sequence of integers
MySecondList = range(4,20)
print(MySecondList) # this is a "range object" in Python.
# When using range() we won't actually store all of the values in memory.
print(list(MySecondList))
# notice that we didn't create the last element!

range(4, 20)
[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In Python, gli elementi di una lista non devono necessariamente essere dello stesso tipo. Si possono mescolare numeri interi, float, stringhe, liste, ecc. In questo esempio vediamo un elenco di diversi elementi che hanno diversi tipi di dati: un float, un intero, una stringa e un numero complesso. Nota che il numero immaginario i è rappresentato da 1j in Python.

In [ ]:
MixedList = [1.0, 7, 'Bob', 1-5j]
print(MixedList)
print(type(MixedList[0]))
print(type(MixedList[1]))
print(type(MixedList[2]))
print(type(MixedList[3]))

[1.0, 7, 'Bob', (1-5j)]
<class 'float'>
<class 'int'>
<class 'str'>
<class 'complex'>

### Esercizio

1. Crea l'elenco dei primi numeri di Fibonacci: 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89.
2. Stampa i primi quattro elementi dell'elenco.
3. Stampa ogni terzo elemento della lista a partire dal primo.
4. Stampa l'ultimo elemento della lista.
5. Stampa l'elenco in ordine inverso.
6. Stampa l'elenco iniziando dall'ultimo elemento e contando all'indietro da ogni altro elemento.

In [ ]:
# Soluzione #1

# a. Create the list of the first several Fibonacci numbers
fibonacci = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# b. Print the first four elements of the list
print("First four elements:", fibonacci[:4])

# c. Print every third element of the list starting from the first
print("Every third element starting from the first:", fibonacci[::3])

# d. Print the last element of the list
print("Last element:", fibonacci[-1])

# e. Print the list in reverse order
print("List in reverse order:", fibonacci[::-1])

# f. Print the list starting at the last element and counting backward by every other element
print("List starting at the last element and counting backward by every other element:", fibonacci[::-2])

First four elements: [1, 1, 2, 3]
Every third element starting from the first: [1, 3, 13, 55]
Last element: 89
List in reverse order: [89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1]
List starting at the last element and counting backward by every other element: [89, 34, 13, 5, 2, 1]

In [ ]:
# Soluzione più flessibile

# a. Create the list of the first 11 Fibonacci numbers
fibonacci = [1, 1]
while len(fibonacci) < 11:  # Generating the first 11 Fibonacci numbers
    fibonacci.append(fibonacci[-1] + fibonacci[-2])

# b. Print the first four elements of the list
print("First four elements:", fibonacci[:4])

# c. Print every third element of the list starting from the first
print("Every third element starting from the first:", fibonacci[::3])

# d. Print the last element of the list
print("Last element:", fibonacci[-1])

# e. Print the list in reverse order
print("List in reverse order:", fibonacci[::-1])

# f. Print the list starting at the last element and counting backward by every other element
print("List starting at the last element and counting backward by every other element:", fibonacci[::-2])

## Operazioni sulle liste

E' molto semplice effettuare operazioni sulle liste (es. aggiungere, rimuovere elementi dagli elenchi).

La sintassi utilizzata è del tipo: **variable.command** in cui:
variable = nome della variabile,
command = l'operazione che si vuole fare su quella variabile.

Ad esempio, MyList.append(7) aggiungerà il numero 7 all'elenco MyList. Questa è una funzionalità di programmazione comune in Python e la useremo spesso.

In [ ]:
#Esempio

MyList = [0,1,2,3]
print(MyList) # print the list content

MyList.append('a') # append the string 'a' to the end of the list
print(MyList)

MyList.remove('a') # remove the first instance of `a` from the list
print(MyList)

MyList.remove(3) # now let's remove the 3
print(MyList)

[0, 1, 2, 3]
[0, 1, 2, 3, 'a']
[0, 1, 2, 3]
[0, 1, 2]

### Esercizio



1. Crea l'elenco dei primi numeri di Lucas: 1, 3, 4, 7, 11, 18, 29, 47.
2. Aggiungi i successivi tre numeri di Lucas alla fine dell'elenco.
3. Rimuovere il numero 3 dall'elenco.
4. Inserisci nuovamente i 3 nell'elenco nel punto corretto.
5. Stampa l'elenco in ordine inverso.
6. Esegui alcune altre operazioni di elenco su questo elenco e segnala i risultati.

## Tuple

In Python, una “tupla” è come una coppia ordinata (o una tripla, o quadrupla ordinata, ...) secondo qualche criterio matematico.

In [ ]:
point = (10, 20) # we define the tuple with parenthesis
print(point, type(point))

(10, 20) <class 'tuple'>

Se lo desideriamo, possiamo scompattare la tupla in componenti, in modo da poter effettuare operazioni su ciascuna di essi

In [ ]:
point = (10, 20)
x, y = point
print("x = ", x)
print("y = ", y)

x =  10
y =  20